.syrin-link{
    /* color:orange */
    text-decoration: underline;
}
.syrin-link .s-play, .syrin-link .s-stop{
    color:red;
    cursor: pointer;
}

.syrin-link .m-play, .syrin-link .m-stop{
    color:rgb(68, 0, 255);
    cursor: pointer;
}